@use '../abstract/' as *;
@layer components {
  .burger {
    @include burger-button;
    @include cq-lg-n-above {
      // display: none;
    }
  }

  .button {
    --_accent-color: var(--link-color);
    --_icon-size: var(--size-relative-7);
    --_border-size: var(--border-size-2);
    --_light-surface-color: var(--white-color);
    --_light-surface--border-color: var(--gray-3-oklch);
    --_light-surface--hover-color: var(--gray-12-oklch);
    --_light-text-color: var(--gray-12-oklch);
    --_light-text-hover-color: var(--_light-surface-color);
    --_dark-surface-color: var(--gray-8-oklch);
    --_dark-surface--border-color: var(--gray-7-oklch);
    --_dark-surface--hover-color: var(--_light-surface-color);
    --_dark-text-color: var(--_light-surface-color);
    --_dark-text-hover-color: var(--_light-text-color);
    --_light-ghost-surface-border-color: var(--blue-5-oklch);
    --_light-ghost-surface-hover-color: var(--blue-6-oklch);
    --_light-ghost-text-color: var(--blue-9-oklch);
    --_light-ghost-text-hover-color: var(--blue-0-oklch);
    --_dark-ghost-surface-border-color: var(--blue-3-oklch);
    --_dark-ghost-surface-hover-color: var(--_dark-ghost-surface-border-color);
    --_dark-ghost-text-color: var(--blue-1-oklch);
    --_dark-ghost-text-hover-color: var(--black-color);
    --_surface-color: var(--_light-surface-color);
    --_surface-border-color: var(--_light-surface--border-color);
    --_surface-hover-color: var(--_light-surface--hover-color);
    --_text-color: var(--_light-text-color);
    --_text-hover-color: var(--_light-text-hover-color);
    padding-block: 1ex;
    padding-inline: 2ex;
    font-weight: var(--font-weight-700);
    font-size: var(--fluid-font-size-300);
    border: var(--_border-size) solid transparent;
    border-radius: var(--border-radius-2);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: border-color 500ms var(--ease-3);
    &:has(svg) {
      @include in-flex-center;
      gap: var(--size-5);
      svg {
        flex-shrink: 0;
        block-size: var(--_icon-size);
        inline-size: var(--_icon-size);
      }
    }
    &:where([data-type="primary"]) {
      background-color: oklch(var(--_surface-color));
      border-color: oklch(var(--_surface-border-color));
      color: oklch(var());
      &:is(:focus-visible, :hover) {
        background-color: oklch(var(--_surface-hover-color));
        color: oklch(var(--_text-hover-color));
      }
      [data-theme="dark"] & {
        --_surface-color: var(--_dark-surface-color);
        --_surface-border-color: var(--_dark-surface--border-color);
        --_surface-hover-color: var(--_dark-surface--hover-color);
        --_text-color: var(--_dark-text-color);
        --_text-hover-color: var(--_dark-text-hover-color);
      }
    }
    &:where([data-type="ghost"]) {
      --_surface-border-color: var(--_light-ghost-surface-border-color);
      --_surface-hover-color: var(--_light-ghost-surface-hover-color);
      --_text-color: var(--_light-ghost-text-color);
      --_text-hover-color: var(--_light-ghost-text-hover-color);
      border-color: oklch(var(--_surface-border-color));
      color: oklch(var(--_text-color));
      &:is(:focus-visible, :hover) {
        background-color: oklch(var(--_surface-hover-color));
        color: oklch(var(--_text-hover-color));
        text-shadow: 0 1px 0 currentColor;
      }

      [data-theme="dark"] & {
        --_surface-border-color: var(--_dark-ghost-surface-border-color);
        --_surface-hover-color: var(--_dark-ghost-surface-hover-color);
        --_text-color: var(--_dark-ghost-text-color);
        --_text-hover-color: var(--_dark-ghost-text-hover-color);
      }
    }
    @include motion-ok {
      transition:
        border-color 500ms var(--ease-3),
        background-color 500ms var(--ease-3),
        color 500ms var(--ease-3),
        box-shadow 145ms var(--ease-spring-3, var(--ease-4)),
        text-shadow 145ms var(--ease-spring-3, var(--ease-4)),
        outline-offset 145ms var(--ease-spring-3, var(--ease-4));
    }
  }
}