@use '../abstract/' as *;
@layer components {
  .profile-card {
    --_card-shadow: var(--surface-shadow-3);
    position: relative;
    overflow: hidden;
    background-color: oklch(var(--surface-1-color));
    border-radius: var(--border-conditional-radius-3);
    box-shadow: var(--_card-shadow);
    &__body {
      gap: var(--size-7);
      padding-block: var(--size-5);
      padding-inline: var(--size-5);
      @include grid;
    }
    &__meta {
      gap: var(--size-4);
      @include flex-column;
    }
    &__meta-item {
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-500);
      color: oklch(var(--text-2-color));
      &:has(span) span, a {
        margin-inline-start: var(--size-4);
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-500);
      }
    }
    [data-theme="dark"] & {
      --_card-shadow: var(--surface-shadow-5);
    }
  }
}