@use '../abstract/' as *;
@layer components {
  .theme-toggle {
    --theme-toggler-icon-size: var(--size-14);
    --theme-toggler-icon-fill-color: var(--text-color-2);
    --theme-toggler-icon-fill-hover-color: var(--text-color-1);
    --theme-toggler-shadow-size: 0;
    --theme-toggler-shadow-color: var(--link-color);
    display: inline-grid;
    place-items: center;
    block-size: var(--theme-toggler-icon-size);
    inline-size: var(--theme-toggler-icon-size);
    aspect-ratio: var(--aspect-ratio-square);
    padding: calc(var(--size-4) + 1px);
    border-radius: var(--border-radius-round);
    box-shadow: 0 0 var(--theme-toggler-shadow-size) oklch(var(--theme-toggler-shadow-color));
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;
    @media (prefers-reduced-motion: no-preference) {
      transition: outline-offset 145ms var(--ease-2), box-shadow .5s var(--ease-out-4);
    }
    &__mode {
      block-size: 100%;
      inline-size: 100%;
      aspect-ratio: var(--aspect-ratio-square);
      stroke-linecap: round
    }
    &__mode-moon,
    &__mode-sun,
    &__mode-sun-beams {
      transform-origin: center center;
    }
    &__mode-moon,
    &__mode-sun {
      fill: oklch(var(--theme-toggler-icon-fill-color));
    }
    &__mode-moon {
      & > circle {
        [data-theme="dark"] & {
          transform: translateX(-7px);
          @supports (cx: 1px) {
            transform: translateX(0);
            cx: 17px;
          }
        }
        @media (prefers-reduced-motion: no-preference) {
          transition: transform .25s ease-in-out;
          @supports (cx: 1px) {
            transition: cx .25s ease-in-out;
          }
          [data-theme="dark"] & {
            transition-delay: .25s;
            transition-duration: .5s;
          }
        }
      }
    }
    &__mode-sun {
      [data-theme="dark"] & {
        transform: scale(1.75);
      }
      @media (prefers-reduced-motion: no-preference) {
        transition: transform .5s ease-out;
        [data-theme="dark"] & {
          transform: scale(1.75);
          transition-timing-function: ease;
          transition-duration: .25s;
        }
      }
    }
    &__mode-sun-beams {
      stroke: oklch(var(--theme-toggler-icon-fill-color));
      stroke-width: 2px;
      [data-theme="dark"] & {
        opacity: 0;
      }
      @media (prefers-reduced-motion: no-preference) {
        transition:
          transform .5s ease,
          opacity .5s ease
          ;
        [data-theme="dark"] & {
          transform: rotateZ(-25deg);
          transition-duration: .15s;
        }
      }
    }
    @media (hover: none) {
      --theme-toggler-icon-size: var(--size-15);
    }
    &:is(:focus-visible, :hover) {
      --theme-toggler-icon-fill-color: var(--theme-toggler-icon-fill-hover-color);
      .theme-toggle__mode-sun-beams {
        transform: rotate(20deg)
      }

      & .theme-toggle__mode-moon>circle {
          cx: 20px
      }
    }
    &:is(:hover):not(:active) {
      --theme-toggler-shadow-size: 5em;
    }
    &:is(:active) {
      --theme-toggler-shadow-size: 1.5em;
    }
  }
}