@use '../abstract/' as *;
@use '../abstract/design-system' as *;

@layer base {
  .page {
    background-color: oklch(var(--surface-2-color));
    color: oklch(var(--text-1-color));
    accent-color: oklch(var(--link-color));
    &__body {
      @include grid;
      place-content: center;
      font-family: var(--font-sans);
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-200);
      line-height: var(--font-lineheight-5);
    }
  }
}