@use 'sizes';
@layer design-system {
  :where(:root) {
    /*  LAYOUTS:
    ================================ */
    /* ===== WRAPPER VARIANT ===== */
    --wrapper-content-inline-size: 80svi;
    --wrapper-inline-offset: var(--size-12);
    --wrapper-inline-size: min(var(--wrapper-content-inline-size), 100% - var(--wrapper-inline-offset));

    /* ===== GRID LAYOUT VARIANT ===== */
    --layout-inline-offset: var(--size-7);
		--layout-content-inline-size: var(--content-size-7);
		--layout-breakout-max-inline-size: var(--content-size-9);
		--layout-breakout-inline-size: calc( (var(--layout-breakout-max-inline-size) - var(--layout-content-inline-size)) / 2);

     /*  SPACING:
    ================================ */
    --gap: var(--size-7);
    --hero-padding-block: clamp(15rem, 15svb, 20rem);
    --section-padding-block: clamp(5rem, 10svb, 6rem);
    --site-header-padding-block: var(--size-13);
  }
}