@layer themes.grape-switch {
  :where([data-theme="grape"]) {
    color-scheme: light;
    --surface-1-color: var(--grape-surface-1-color);
    --surface-2-color: var(--grape-surface-2-color);
    --surface-3-color: var(--grape-surface-3-color);
    --surface-4-color: var(--grape-surface-4-color);
    --text-1-color: var(--grape-text-1-color);
    --text-2-color: var(--grape-text-2-color);
    --link-color: var(--grape-link-color);
    --surface-shadow-color: var(--purple-12-oklch);
    --surface-shadow-strength: .01;
    --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;
  }
}