:where(:root) {
  --surface-shadow-color: 15.18% 0.011 247.71;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;
  --surface-shadow-strength: .01;



  --surface-shadow-1: 0 1px 2px -1px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09));

  --surface-shadow-2: 0 3px 5px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)), 0 7px 14px -5px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .05));

  --surface-shadow-3: 0 -1px 3px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 1px 2px -5px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 2px 5px -5px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .04)),
    0 4px 12px -5px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .05)),
    0 12px 15px -5px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .07));

  --surface-shadow-4: 0 -2px 5px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 1px 1px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 2px 2px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)),
    0 5px 5px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .04)),
    0 9px 9px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .05)),
    0 16px 16px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .06));

  --surface-shadow-5: 0 -1px 2px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 2px 1px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)),
    0 5px 5px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)),
    0 10px 10px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .04)),
    0 20px 20px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .05)),
    0 40px 40px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .07));

  --surface-shadow-6: 0 -1px 2px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .02)),
    0 3px 2px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)),
    0 7px 5px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .03)),
    0 12px 10px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .04)),
    0 22px 18px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .05)),
    0 41px 33px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .06)),
    0 100px 80px -2px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .07));

  --surface-inner-shadow-1: inset 0 0 0 1px oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09));

  --surface-inner-shadow-2: inset 0 1px 2px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09)), var(--inner-shadow-highlight);

  --surface-inner-shadow-3: inset 0 1px 4px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09)), var(--inner-shadow-highlight);

  --surface-inner-shadow-4: inset 0 2px 8px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09)), var(--inner-shadow-highlight);

  --surface-inner-shadow-5: inset 0 2px 14px 0 oklch(var(--surface-shadow-color) / calc(var(--surface-shadow-strength) + .09)), var(--inner-shadow-highlight);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --surface-shadow-color: 15.16% 0.039 250.31;
    --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff1, inset 0 0.5px 0 0 #0007;
    --surface-shadow-strength: .25;
  }
}